@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-bg {
	background-image: url("./assets/background.png");
	background-size: cover;
}

.main-title {
	color: #f2f2f2;
	font-family: Poppins;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
}

.main-question {
	color: #2f527b;
	font-family: Poppins;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
